article {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

article:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

h2 {
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.highlight:hover {
    background-color: orange;
    cursor: pointer;
    font-weight: bold;
}

.quote::before {
    content: "“";
    font-size: 20px;
    color: gray;
}

.quote {
    font-style: italic;
    background-color: blue;
    color: yellow;
}

.quote::after {
    content: "”";
    font-size: 20px;
    color: gray;
}